<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIKey</key>
	<string>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</string>
	<key>BackendBaseURL</key>
	<string>https://api.slng.space</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
